* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

/* Home Silders */
.home-sliders {
    position: relative;
}

.home-sliders img {
    width: 100%;
    object-fit: cover;
}

.home-sliders video {
    width: 100%;
    object-fit: cover;
}


@media (max-width: 650px) {

    .home-sliders,
    .home-sliders img,
    .home-sliders video {
        height: 87vh;
    }
}

@media (min-width: 650px) and (max-width: 991.98px) {

    .home-sliders,
    .home-sliders img,
    .home-sliders video {
        height: 97vh;
    }
}

@media (min-width: 992px) {

    .home-sliders,
    .home-sliders img,
    .home-sliders video {
        height: 110vh;
    }
}

/* Slider Each Image */
.slider-each-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-each-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, #061d3b, rgba(0, 0, 0, 0));
    pointer-events: none;
}

.slider-image-content {
    position: absolute;
    bottom: 20vh;
    padding-left: 5rem;
    z-index: 10;
}

.slider-image-content-header h1 {
    color: white;
    font-weight: 700;
}

@media (max-width: 650px) {
    .slider-image-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0rem;
        width: 100%;
    }

    .slider-image-content-header h1 {
        font-size: 1rem;
        padding: 10px 10px;
    }

    .slider-image-content-header h4 {
        display: none;
    }

    .slider-image-content-footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .slider-image-content-footer button {
        padding: 5px 10px;
        font-weight: 500;
        font-size: .6rem;
        margin-top: 10px;
    }

    .slider-image-content-footer p {
        font-size: .5rem;
        font-weight: 450;
    }

    .custom-img img {
        height: 6rem;
        width: auto;
        position: absolute;
        top: -18vh;
        transform: translateX(-50%);
    }

    .user-id {
        display: none;
    }

    .indian-flag {
        display: flex;
        gap: 10px;
    }

    .indian-flag img {
        width: 1rem;
        height: .7rem;
    }

}

@media (min-width: 650px) and (max-width: 991.98px) {
    .slider-image-content-header h1 {
        font-size: 1.7rem;
        width: 90%;
    }

    .slider-image-content-header h4 {
        font-size: .9rem;
        width: 80%;
    }

    .slider-image-content-footer p {
        font-size: 1.1rem;
        font-weight: 550;
        padding: 10px 0px;
    }

    .slider-image-content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        gap: 10px
    }

    .slider-image-content-footer button {
        padding: 10px 10px;
        font-weight: 500;
        font-size: .8rem;
    }

    .slider-image-content-footer img {
        width: 8%;
        height: auto;
    }

    .custom-img img {
        width: 2rem;
        height: auto;
    }

    .indian-flag {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .indian-flag img {
        width: 1.2rem;
        height: 0.7rem;
    }

    .user-id {
        background-color: #1e2329;
        border-radius: 100px;
        display: flex;
        align-items: center;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .slider-image-content-header h1 {
        font-size: 2.3rem;
        width: 60%;
    }

    .slider-image-content-header h4 {
        font-size: 1.1rem;
    }

    .slider-image-content-footer p {
        font-size: 1.1rem;
        font-weight: 550;
        padding: 10px 0px;
    }

    .slider-image-content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .slider-image-content-footer button {
        padding: 10px 25px;
        font-weight: 500;
    }

    .slider-image-content-footer img {
        width: 8%;
        height: auto;
    }

    .custom-img img {
        width: 30%;
        height: auto;
    }

    .indian-flag img {
        width: 40%;
        height: auto;
    }

    .user-id {
        background-color: #1e2329;
        border-radius: 100px;
        display: flex;
        align-items: center;
        padding: 10px;
    }


}

.slider-image-content-header h4 {
    color: white;
    font-weight: 700;
    padding: 10px 0px 15px 0px;
}

.slider-image-content-footer button {
    background-color: #db0a41;
    border: 0px;
    border-radius: 20px;
    color: white;
}

.slider-image-content-footer p {
    padding: 0px;
    margin: 0px;
    color: #c1c0be;
}

.user-id img {
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

.user-id pre {
    color: white;
    font-size: .8rem;
    padding: 0px;
    margin: 0px;
}

/* Header */
.navbar-header {
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px;
    color: wheat;
    z-index: 100;
}

.navbar-header-first-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-header-first-icon img {
    height: 35px;
    width: 35px;
    padding: 5px;
    border: 1px solid #a3abb147;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.193);
    backdrop-filter: blur(10px);
}

.logo {
    height: 2rem;
    width: 11rem;
    margin: 0px;
    padding: 0px;
}

.navbar-header-mid-section {
    display: flex;
    justify-content: center;
}

.navbar-header-mid-section-list {
    border: 1px solid #a3abb147;
    color: white;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.193);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0px 20px !important;
    color: #fff;
}

.navbar-header-mid-section-group {
    display: flex;
    align-items: center;
}

.navbar-header-mid-section-list a {
    color: white;
    padding: 8px 3px 8px 20px !important;
}

.navbar-header-mid-section-list img {
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
}

.navbar-header-end-section {
    display: flex;
    justify-content: end;
}

.navbar-header-end-section img {
    height: 1.7rem;
    width: 1.7rem;
}

.navbar-header-end-section-icon {
    margin: 10px;
}

/* Drinks-Section */
@media (max-width: 650px) {
    .main-section {
        background-color: #f8f8f8;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute;
        top: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 650px) and (max-width: 991.98px) {
    .main-section {
        background-color: #f8f8f8;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute;
        top: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .main-section {
        background-color: #f8f8f8;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute;
        top: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.drinks-section {
    position: relative;
}

.drinks-section-header h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.drinks-section-header h4 {
    font-size: 1.1rem;
    font-weight: 400;
    color: #636c75;
    letter-spacing: .5px;
    line-height: 30px;
}

.drinks-section-listing {
    display: flex;
    justify-content: start;
    align-items: center;
}

.drinks-section-products {
    height: 26rem;
    padding: 0px !important;
    border: 0px !important;
    background-color: #ffffff !important;
    overflow: hidden;
    box-shadow: 0 8px 12px 0 rgba(0, 15, 30, .039) !important;
    border-radius: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.drinks-section-products h1 {
    font-size: 1.6rem;
    font-weight: 600;
    width: max-content;
    height: max-content;
    text-align: center;
}

.drinks-section-products img {
    width: 43%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 8px 12px 0 rgba(0, 15, 30, .039) !important;
    transition: 0.3s ease-in-out !important;
}

.drinks-section-products img:hover {
    width: 45%;
    box-shadow: 0 20px 20px 0 rgba(0, 15, 30, .1);
}

.red-bull-sugarfree {
    background-color: #0070b8 !important;
    color: #ffffff;
}

.red-bull-yellow {
    background-color: #ffcd00 !important;
    color: #ffffff;
}

.red-bull-red {
    background-color: #dd3b2f !important;
    color: #ffffff;
}

.drinks-collection {
    position: relative;
    cursor: pointer;
    /* overflow-x: scroll; */
}

.drinks-section-scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 65px;
    z-index: 20;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 16px 16px 0 #001e3c1a;
    background-color: white;
}

.drinks-section-scroll-btn:hover {
    background-color: #E6E6E6;
}

.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 20rem;

    margin-right: 10px;
}

.drinks-section-scroll-btn img {
    padding: 0px;
    margin: 0px !important;
    width: 23px;
    height: 23px;
}

.scroll-right img {
    transform: rotate(180deg);
}

.scroll-right {
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (max-width: 650px) {
    .scroll-right {
        display: none;
    }
}

.scroll-left {
    left: 0;
    display: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Post Section */
.post-section-header h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.post-section-listing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-section-card {
    box-shadow: 0 8px 12px 0 rgba(0, 15, 30, .039);
    border-radius: 10px;
    background-color: #ffffff;
    height: 26rem;
    width: 20rem;
    overflow: hidden;
    text-align: start;
}

.post-section-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60%;
    width: 100%;
    transition: transform 0.3s ease;
}

.post-section-card-image {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-section-card-half img {
    height: 50%;
    object-fit: cover;
}

.post-section-card img:hover {
    transform: scale(1.05);
}

.post-section-card-content h5 {
    font-weight: 700;
    font-size: 1rem;
}

.post-section-card-content p {
    font-weight: 400;
    font-size: .75rem;
    color: #b5b7bc;
}

.post-section-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-section-card-bottom h4 {
    font-weight: 700;
    font-size: .7rem;
    color: #666f78;
}

.post-section-card-bottom p {
    font-size: .65rem;
    color: #666f78;
}

/* Footer */
.footer-section {
    width: 100%;
    background-color: #00162b;
    display: flex;
    top: 395vh;
}

.footer-section p {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .8px;
}

.footer-section h5 {
    color: #98a2ac;
    font-size: 1rem;
    font-weight: 500;
}

.hr-in-footer {
    display: none;
    width: 100%;
    color: #f8f8f8;
}



/* Small Devices (Tablets) */
@media (max-width: 650px) {
    .hr-in-footer {
        display: block;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .footer-copyright {
        margin-top: 20px;
    }
}

/* Medium Devices (Desktops) */
@media (min-width: 650px) and (max-width: 991.98px) {
    .footer-section-contents {
        display: flex;
        justify-content: space-between;
    }

    .footer-section-about {
        width: 50%;
    }

    .footer-section-more {
        width: 50%;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        padding: 60px;
    }
}

/* Large Devices (Large Desktops) */
@media (min-width: 992px) {
    .footer-section-contents {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .footer-section {
        display: flex;
        justify-content: space-between;
        padding: 60px;
    }
}